*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.Container{
    margin: auto;
    width: 960px;
}
header{
    width: 100%;
    
}
.Contact{
    background-color: #2e2e2e;
    height: 100%;
    min-height: 38px;
    width: 100%;
}
.Contact-Items{
    display: flex;
    justify-content: space-between;
}
.Contact-Item-Location{
    margin-top: 7px;
    display: flex;
}
.Contact-Item-Adress{
    margin-right: 166px;
    margin-left: 85px;
    margin-top: 6px;
    display: flex;
}
.Linkedin-Adress{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.Email-Adress{
    width: 20px;
    height: 20px;
}
.Location, .Phone-Number{
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.Navigation{
    width: 100%;
    height: 98px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 15px;
    padding-right: 15px;
}
.Navigation-Items{
    display: flex;
    justify-content: space-between;
}
.Header-Nav{
    margin-top: 50px;
}
ul{
    display: flex;
}
.Nav-Home{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 4px;
    border-bottom: 2px solid #333;
}
.Nav-About, .Nav-OurSolutions, .Nav-OurCustomers, .Nav-Contacts{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 4px;
}

.Header-Link{
    text-decoration: none;
    color: inherit;
    padding-left: 15px;
    padding-right: 15px;
}
.Home-Button-Image{
    width: 181px;
    height: 98px;
    margin-right: 28px;
}
.Nav-About:hover, .Nav-OurSolutions:hover, .Nav-OurCustomers:hover, .Nav-Contacts:hover{
    border-bottom: 2px solid #333;
}
.Sliding-Images{
    width: 100%; 
    height: 238px; 
    overflow: hidden;
    position: relative;
}
.Slide{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.Sliding-Image1{
    background-image: url(https://lirp.cdn-website.com/6b94b411/dms3rep/multi/opt/pexels-photo-3774903-cf6ec6f2-1920w.jpeg);
    animation: Slide-fade 9s infinite;
}
.Sliding-Image2{
    background-image: url(https://lirp.cdn-website.com/6b94b411/dms3rep/multi/opt/imac-apple-mockup-app-38544-fc0196bc-1920w.jpeg);
    animation: Slide-fade 9s infinite 3s;
}
.Sliding-Image3{
    background-image: url(https://lirp.cdn-website.com/6b94b411/dms3rep/multi/opt/pexels-photo-5082579-2bc2e5c1-1920w.jpeg);
    animation: Slide-fade 9s infinite 6s;
}

  @keyframes Slide-fade {
    0%, 25% {
        opacity: 0;
      }
      30%, 55% {
        opacity: 1;
      }
      60%, 85% {
        opacity: 0;
      }
  }